body {
    margin: 0;
}

.content {
    margin-top: 10px;
}

.content .map-container #aml-map {
    height: 450px;
}

.content #coordinates-container {
    display: none;
}

.content #coordinates-container #coordinates-table thead tr:first-child {
    text-align: center;
}

.content #coordinates-container #coordinates-table thead tr:nth-child(2) th:nth-child(2),
.content #coordinates-container #coordinates-table thead tr:nth-child(2) th:nth-child(3),
.content #coordinates-container #coordinates-table thead tr:nth-child(2) th:nth-child(4),
.content #coordinates-container #coordinates-table tbody tr td:nth-child(2),
.content #coordinates-container #coordinates-table tbody tr td:nth-child(3),
.content #coordinates-container #coordinates-table tbody tr td:nth-child(4) {
    text-align:center;
}

.content .request {
    text-align: center;
}

.content .request .btn {
    margin-bottom: 15px;
}

.content .loading {
    text-align: center;
    display: none;
}

.content .response {
    display: none;
}

.content .response .button-container {
    text-align: center;
    margin-bottom: 15px;
}

.content .response .progress {
    margin-bottom: 15px;
}

.content .response #btn-timer {
    display: none;
}

.content .response .button-container .alert-info {
    margin-top: 10px;
    margin-bottom: 10px;
}
